<h1>Company <small>page list</small></h1>
<hr>

<p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#companyModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        New company
    </button>
</p>

<table class="table table-responsive">
    <tr>
        <th>shortName</th>
        <th>fullName</th>
        <!--<th>type</th>-->
        <th>address</th>
        <th>description</th>
<!--        <th>mails</th>
        <th>phones</th>
        <th>socials</th>
        <th>websites</th>
        <th>tags</th>-->
        <th></th>
    </tr>
    <tr data-ng-repeat="company in vm.companies">
        <td>{{company.shortName}}</td>
        <td>{{company.fullName}}</td>
        <!--<td>{{company.type}}</td>-->
        <td>{{company.address}}</td>
        <td>{{company.description}}</td>
        <td>
            <button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#companyExtendedModal"
                    data-ng-click="vm.getExtendedData(company)">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </button>
            <button type="button" class="btn btn-link pull-right"
                    data-ng-click="vm.remove(company)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button type="button" class="btn btn-link pull-right" data-toggle="modal" data-target="#companyModal"
                    data-ng-click="vm.prepare(company)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </td>
    </tr>
</table>

<div class="modal fade" id="companyExtendedModal" role="dialog" aria-labelledby="companyExtendedLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="companyExtendedLabel">Extended information</h4>
            </div>
            <div class="modal-body">

                <table data-ng-if="phones !== null" class="table">
                    <tr>
                        <th>Corporate phones</th>
                    </tr>
                    <tr data-ng-repeat="phone in phones">
                        <td><p><small>{{$index+1}}.</small> {{phone.phone}} <small>{{phone.type}}</small></p></td>
                    </tr>
                </table>

                <table data-ng-if="emails !== null" class="table">
                    <tr>
                        <th>Corporate emails</th>
                    </tr>
                    <tr data-ng-repeat="email in emails">
                        <td><p><small>{{$index+1}}.</small> {{email.email}} <small>{{email.type}}</small></p></td>
                    </tr>

                </table>

                <table data-ng-if="socials !== null" class="table">
                    <tr>
                        <th>Corporate social</th>
                    </tr>
                    <tr data-ng-repeat="social in socials">
                        <td><p><small>{{$index+1}}.</small> {{social.socialUrl}} <small>{{social.type}}</small></p></td>
                    </tr>
                </table>

                <table data-ng-if="websites !== null" class="table">
                    <tr>
                        <th>Corporate website</th>
                    </tr>
                    <tr data-ng-repeat="website in websites">
                        <td><p><small>{{$index+1}}.</small> {{website.websiteUrl}} <small>{{website.type}}</small></p></td>
                    </tr>
                </table>

                <table data-ng-if="tags !== null" class="table">
                    <tr>
                        <th>Tags</th>
                    </tr>
                    <tr data-ng-repeat="tag in tags">
                        <td><p><small>{{$index+1}}.</small> <span class="label label-{{tag.type}}">{{tag.title}}</span> </p></td>

                    </tr>
                </table>

            </div>
            <div class="modal-footer">

                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="companyModal" role="dialog" aria-labelledby="companyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="companyModalLabel">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <ng-include src="'tpl/company_edit.html'"></ng-include>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#removeModal"
                                    data-ng-show="vm.control == 'update'"
                                    data-ng-click="vm.prepare(vm.company)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>-->
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal"
                        data-ng-disabled="companyForm.$invalid"
                        data-ng-click="vm.company.id ? vm.update() : vm.create()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>