<h1>Contact <small>page list</small></h1>
<hr>

<p>
    <button type="button"
            class="btn btn-primary pull-right"
            data-toggle="modal"
            data-target="#contactModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        New contact
    </button>
</p>

<ul class="nav nav-tabs">
    <li role="presentation" data-ng-click="vm.tab = 0" data-ng-class="{'active': vm.modalTab == 0}"><a href="#">All Contacts</a></li>
    <li role="presentation" data-ng-click="vm.tab = 1" data-ng-class="{'active': vm.modalTab == 1}"><a href="#">Company</a></li>
    <li role="presentation" data-ng-click="vm.tab = 2" data-ng-class="{'active': vm.modalTab == 2}"><a href="#">Individual</a></li>
</ul>
<hr>
<div ng-show="vm.tab == 0">
    <h4>All Contacts</h4>
</div>
<div ng-show="vm.tab == 1">
    <h4>Company</h4>
</div>
<div ng-show="vm.tab == 2">
    <h4>Individual</h4>
</div>

<table class="table table-responsive">
    <tr>
        <th>shortName</th>
        <th>fullName</th>
        <th>type</th>
        <th>address</th>
        <th>description</th>
        <!--        <th>mails</th>
                <th>phones</th>
                <th>socials</th>
                <th>websites</th>
                <th>tags</th>-->
        <th></th>
    </tr>


    <!---->
    <tr data-ng-repeat="contact in vm.contacts" ng-show="vm.tab == 0">
        <td>{{contact.shortName}}</td>
        <td>{{contact.fullName}}</td>
        <td>{{contact.type}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.description}}</td>
        <td>
            <button type="button"
                    class="btn btn-link pull-right"
                    disabled
                    data-toggle="modal" data-target="#contactExtendedModal"
                    data-ng-click="vm.getExtendedData(contact)">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-ng-click="vm.remove(contact)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-toggle="modal"
                    data-target="#contactModal"
                    data-ng-click="vm.prepare(contact)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </td>
    </tr>
    <!---->
    <tr data-ng-repeat="contact in vm.contacts" ng-show="vm.tab == 1" ng-if="contact.type == 'company'">
        <td>{{contact.shortName}}</td>
        <td>{{contact.fullName}}</td>
        <td>{{contact.type}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.description}}</td>
        <td>
            <button type="button"
                    class="btn btn-link pull-right"
                    disabled
                    data-toggle="modal" data-target="#contactExtendedModal"
                    data-ng-click="vm.getExtendedData(contact)">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-ng-click="vm.remove(contact)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-toggle="modal"
                    data-target="#contactModal"
                    data-ng-click="vm.prepare(contact)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </td>
    </tr>
    <!---->
    <tr data-ng-repeat="contact in vm.contacts" ng-show="vm.tab == 2" ng-if="contact.type == 'individual'">
        <td>{{contact.shortName}}</td>
        <td>{{contact.fullName}}</td>
        <td>{{contact.type}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.description}}</td>
        <td>
            <button type="button"
                    class="btn btn-link pull-right"
                    disabled
                    data-toggle="modal" data-target="#contactExtendedModal"
                    data-ng-click="vm.getExtendedData(contact)">
                <i class="glyphicon glyphicon-triangle-right"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-ng-click="vm.remove(contact)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button type="button"
                    class="btn btn-link pull-right"
                    data-toggle="modal"
                    data-target="#contactModal"
                    data-ng-click="vm.prepare(contact)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
        </td>
    </tr>

</table>

<div class="modal fade" id="contactModal" role="dialog" aria-labelledby="contactModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="contactModalLabel">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" data-ng-click="vm.modalTab = 0" data-ng-class="{'active': vm.modalTab == 0}"><a href="#">Company</a></li>
                    <li role="presentation" data-ng-click="vm.modalTab = 1" data-ng-class="{'active': vm.modalTab == 1}"><a href="#">Individual</a></li>
                </ul>
                <div ng-show="vm.modalTab == 0">
                    <hr>
                    <ng-include src="'tpl/company_edit.html'"></ng-include>
                </div>
                <div ng-show="vm.modalTab == 1">
                    <hr>
                    <ng-include src="'tpl/individual_edit.html'"></ng-include>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#removeModal"
                                    data-ng-show="vm.control == 'update'"
                                    data-ng-click="vm.prepare(vm.contact)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>-->
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal"
                        data-ng-disabled="contactForm.$invalid"
                        data-ng-click="vm.contact.id ? vm.update() : vm.create()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>