<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#upsert" ng-click="vm.prepare()">
            <i class="glyphicon glyphicon-plus"></i>
            Добавить пользователя системы
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Логин</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by $index">
                <td>{{user.login}}</td>
                <td>
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown"
                                    ng-click="vm.prepare(user)">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li data-toggle="modal" data-target="#upsert">
                                    <a href="#">Update</a>
                                </li>
                                <li data-toggle="modal" data-target="#delete">
                                    <a href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="upsert" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                <h4 class="modal-title">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="user">
                    <div class="form-group has-feedback" ng-class="{'has-error': user.login.$error.required}">
                        <label for="login">Логин</label>
                        <input type="text" id="login" name="login" class="form-control" required
                               ng-model="vm.user.login">
                        <i class="glyphicon form-control-feedback"
                           ng-class="{'glyphicon-remove': user.login.$error.required}"></i>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.user.id ? vm.update() : vm.create()"
                        ng-disabled="user.$invalid">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove()">Да</button>
            </div>
        </div>
    </div>
</div>