<p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#companyModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        New Company
    </button>
</p>

<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="companyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="serverModalLabel">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="companyForm">
                    <div class="form-group has-feedback"
                         data-ng-class="companyForm.fullName.$error.required ? 'has-error' : 'has-success'">
                        <label for="fullName" class="control-label">Имя</label>
                        <input type="text" id="fullName" name="fullName" class="form-control" data-ng-model="vm.company.fullName"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="companyForm.fullName.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#removeModal"
                                    data-ng-show="vm.control == 'update'"
                                    data-ng-click="vm.prepare(vm.company)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>-->
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal"
                        data-ng-disabled="companyForm.$invalid"
                        data-ng-click="vm.control == 'create' ? vm.create() : vm.update()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-responsive">
    <tr>
        <th>Full name</th>
        <th>Phone </br><small>work</small></th>
        <th>Phone </br><small>personal</small></th>
        <th>E-mail </br><small>work</small></th>
        <th>E-mail </br><small>personal</small></th>
        <th>Department</th>
        <th>Position</th>
        <th></th>
    </tr>

</table>