<p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#interviewModal"
            data-ng-click="vm.prepare()">
        <i class="glyphicon glyphicon-plus"></i>
        Добавить клиента
    </button>
</p>

<div class="modal fade" id="interviewModal" tabindex="-1" role="dialog" aria-labelledby="interviewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="serverModalLabel">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="interviewForm">
                    <div class="form-group has-feedback"
                         data-ng-class="interviewForm.fullName.$error.required ? 'has-error' : 'has-success'">
                        <label for="fullName" class="control-label">Имя</label>
                        <input type="text" id="fullName" name="fullName" class="form-control" data-ng-model="vm.interview.fullName"
                               required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                              data-ng-class="interviewForm.fullName.$error.required ? 'glyphicon-remove' : 'glyphicon-ok'"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#removeModal"
                                    data-ng-show="vm.control == 'update'"
                                    data-ng-click="vm.prepare(vm.interview)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>-->
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal"
                        data-ng-disabled="interviewForm.$invalid"
                        data-ng-click="vm.control == 'create' ? vm.create() : vm.update()">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="answersModal" tabindex="-1" role="dialog" aria-labelledby="answersModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="answersModalLabel">Ответы клиента</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Вопрос
                        </th>
                        <th>
                            Ответ
                        </th>
                    </tr>
                    <tr data-ng-repeat="answer in answers">
                        <td>{{$index+1}}</td>
                        <td>{{answer.question}}</td>
                        <td>{{answer.answerText}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-responsive">
    <tr>
        <th>Имя клиента</th>
        <th>Ссылка на опрос</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="customer in customers">
        <td>{{customer.name}}</td>
        <td><a target="_blanck" data-ng-href="http://interview.bonvio.net/#/{{customer.id}}">http://interview.bonvio.net/#/{{customer.id}}</a></td>
        <td>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#answersModal"
                    data-ng-click="vm.getAnswersByCustomerId(customer.id)">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
            <!--<button type="button" class="btn btn-link" data-toggle="modal" data-target="#customerModal"
                    data-ng-click="vm.prepare(customer)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>-->
        </td>
    </tr>
</table>