<table class="table" ng-controller="projectsController">

<thead>
	<tr>
		<th>Title</th>
		<th>App Type</th>
		<th>Code</th>
		<th>Type</th>
		<th></th>
	</tr>
</thead>

<tbody>
<tr ng-repeat="project in projects">

	<td>{{project.title}}</td>

	<td>{{project.type}}</td>

	<td>{{project.pcode}}</td>

	<td> 
		<div ng-if="project.proj_type == 'Internal'"> 
			<span class="label label-primary">{{project.proj_type}}</span> 
		</div> 
		<div ng-if="project.proj_type == 'External'"> 
			<span class="label label-info">{{project.proj_type}}</span> 
		</div> 
	</td>

	<td>
		<button type="button"
				class="btn btn-link"
				data-toggle="modal"
				data-target="#projectModal"
				data-ng-click="vm.prepare(project)">
			<i class="glyphicon glyphicon-edit"></i>
		</button>
		<button type="button"
				class="btn btn-link"
				data-toggle="modal"
				data-target="#projectModal"
				data-ng-click="delProject(project.id)">
			<i class="glyphicon glyphicon-trash"></i>
		</button>
	</td>

</tr>

</tbody>

</table>
