<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bonvio.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                -->

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.5 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://192.168.50.5:8080/order2" target="_blank">Order2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://192.168.50.5:8080" target="_blank">TomCat</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.75 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://192.168.50.75:8080" target="_blank">Jenkins</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.76 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://192.168.50.76:8080/prweb/" target="_blank">Pega</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://192.168.50.76:8080" target="_blank">TomCat</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://192.168.50.76/pma" target="_blank">PhpMyAdmin</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.77 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://order.bonvio.com" target="_blank">Order <small>- order.bonvio.com </small></a></li>
                        <li><a href="http://cloud.bonvio.com" target="_blank">Cloud (corp)<small>- cloud.bonvio.com </small></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://pma.bonvio.com" target="_blank">PhpMyAdmin <small>- pma.bonvio.com </small></a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.78 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://192.168.50.78" target="_blank">GitLab <small>- gitlab.bonvio.com </small></a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">192.168.50.79 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://192.168.50.79" target="_blank">Bonvio.net <small>- bonvio.net </small></a></li>
                        <li><a href="http://cloud.bonvio.net" target="_blank">Cloud (clobal)<small>- cloud.bonvio.net </small></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://192.168.50.79:8080" target="_blank">TomCat</a></li>
                        <li><a href="http://pma.bonvio.net" target="_blank">PhpMyAdmin</a></li>

                    </ul>
                </li>





            </ul>



            <!--
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>

                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
            -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <h2>Сервисы:</h2>

    <ul class="list-group">
        <a href="#" class="list-group-item active">
            Сервисы общего пользования
        </a>
        <li class="list-group-item"><a href="http://order.bonvio.com" target="_blank"><h3> Программа расчета колеровки <small> order.bonvio.com </small></h3></a></li>
        <li class="list-group-item"><a href="http://cloud.bonvio.com" target="_blank"><h3> Облако BONVIO корпоративное <small> cloud.bonvio.com </small></h3></a></li>
        <li class="list-group-item"><a href="http://cloud.bonvio.net" target="_blank"><h3> Облако BONVIO глобальное <small> cloud.bonvio.net </small></h3></a></li>
    </ul>

    <ul class="list-group">
        <a href="#" class="list-group-item active">
            Сервисы отдела автоматизации
        </a>
        <li class="list-group-item"><a href="http://192.168.50.75:8080/" target="_blank"><h3> Jenkins <small> jenkins.bonvio.com </small></h3></a></li>
        <li class="list-group-item"><a href="http://gitlab.bonvio.com" target="_blank"><h3> GitLab <small> gitlab.bonvio.com </small></h3></a></li>
    </ul>

    <ul class="list-group">
        <a href="#" class="list-group-item active">
            Сервисы на тестировании
        </a>
        <li class="list-group-item"><a href="http://192.168.50.76:8080/prweb/" target="_blank"><h3> Pega 7 (BPM) <small> pega.bonvio.com </small></h3></a></li>
    </ul>

    <ui-view>Loading...</ui-view>

</div>