<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#upsert" ng-click="vm.prepare()">
            <i class="glyphicon glyphicon-plus"></i>
            Create new ticket
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ticket in vm.tickets track by $index">
                <td>{{ticket.name}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.dateCreate | date : format : timezone}}</td>
                <td>
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown"
                                    ng-click="vm.prepare(ticket)">
                                <i class="glyphicon glyphicon-option-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li data-toggle="modal" data-target="#upsert">
                                    <a href="#">Update</a>
                                </li>
                                <li data-toggle="modal" data-target="#delete">
                                    <a href="#">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="upsert" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                <h4 class="modal-title">{{vm.modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="ticket">
                    <div class="form-group has-feedback" ng-class="{'has-error': ticket.name.$error.required}">
                        <label for="name">Название</label>
                        <input type="text" id="name" name="name" class="form-control" required
                               ng-model="vm.ticket.name">
                        <i class="glyphicon form-control-feedback"
                           ng-class="{'glyphicon-remove': ticket.name.$error.required}"></i>
                    </div>
                    <div class="form-group has-feedback" ng-class="{'has-error': ticket.description.$error.required}">
                        <label for="description">Название</label>
                        <textarea type="text" id="description" name="description" class="form-control" required
                               ng-model="vm.ticket.description">
                        </textarea>
                        <i class="glyphicon form-control-feedback"
                                      ng-class="{'glyphicon-remove': ticket.description.$error.required}"></i>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.ticket.id ? vm.update() : vm.create()"
                        ng-disabled="ticket.$invalid">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close glyphicon glyphicon-remove" data-dismiss="modal"></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove()">OK</button>
            </div>
        </div>
    </div>
</div>